 
 
code.cpp, span.cpp
  { font-family: "Courier New", Courier, monospace;
     
  }
 
pre.cpp
  {  
    padding:0.5em  0px   0.5em   0em;
    margin: 0.5em  0px   0.5em   0px;
    font-family: "Courier New", monospace;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    display:inline-block;
    min-width:100%;
  }
 
div.cpphdr
  {  
    padding:0.5em  0px   0.5em   0em;
    margin: 0.5em  0px   0px     0px;
    border-style:solid solid none solid;
    border-width:1px  1px   0px   1px;
     
    border-color:darkgray;
    text-align:center;
    display:inline-block;
    min-width:100%;
    background-color: Beige;
  }
 
pre.cpphdr
  {  
    padding:0.5em  0px   0.5em   0em;
    margin: 0px    0px   0.5em   0px;
    font-family: "Courier New", monospace;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    display:inline-block;
    min-width:100%;
  }
 
div.cppplace
  {  
    padding:0.5em  0px   0.5em   0em;
    margin: 0.5em  0px   0.5em     0px;
    border-style:solid;
    border-width:1px;
    border-color:darkgray;
    text-align:center;
    display:inline-block;
    min-width:100%;
    background-color: #cddffa;
  }
 
span.kw
  { font-weight:bold;
  }
 
span.rdskw
  {  
  }
 
span.rem
  { font-style:italic;
    color:navy;
  }
 
span.const
  { color:navy;
  }
 
span.str
  { color:navy;
  }
 
span.preproc
  { color:green;
  }
 
a.hidden:link, a.hidden:visited
  { text-decoration:none;
    color:inherit;
  }
a.hidden:hover, a.hidden:active
  { text-decoration:underline;
    color:blue;
  }
 
span.changes
  { background-color:#cddffa;
  }
div.changes
  { background-color:#cddffa;
  }
